mixin author(author)
  - var author = config.authors[author]
  if author
    section.author-info
      img.image.profile-pic(src=author.pic, alt="Picture of #{author.name}")
      .name= author.name
      .blurb= author.blurb
  else
    section.missing-author-info
