mixin disqus(host, page)
  div#disqus_thread
  script
    | var disqus_config = function () {
    |     this.page.url = "#{page.path}"
    |     this.page.identifier = "#{page.path}"
    | };
    | (function() {
    |     var d = document, s = d.createElement('script');
    |     s.src = '#{host}/embed.js';
    |     s.setAttribute('data-timestamp', +new Date());
    |     (d.head || d.body).appendChild(s);
    | })();
  noscript Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

mixin disqusEnd(host)
  script#dsq-count-scr(async src=`${host}/count.js`)
