doctype html
html(lang="en")
  head
    block title
      title= config.title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
      link(rel="stylesheet", href="http://yui.yahooapis.com/combo"
                                  + "?pure/0.6.0/base-min.css")
      //                            + "&pure/0.6.0/buttons-min.css"
      //                            + "&pure/0.6.0/forms-min.css"
      //                            + "&pure/0.6.0/grids-responsive-min.css"
      //                            + "&pure/0.6.0//menus-min.css"
body
  block content
