extends base

append head
  link(rel="stylesheet", href="/css/index.css")
  script(type="text/javascript", src="/js/index.js")

block content
  buffer.noJS
  div.container
    div.content !{page.content}
