extends base

append head
  link(rel="stylesheet", href="/css/index.css")
  script(type="text/javascript", src="/js/index.js")

block content
  div.back.bg
    div.front.bg
  div.container
    div.content !{page.content}
