.forest
  *
    text-shadow 1px 1px 1px #58636b
    color white
  &.content
    background-color rgba(20, 20, 20, 0.45)

.beach
  *
    text-shadow -1px 1px 1px #ede6cd
    color #080808
  &.content
    background-color rgba(20, 20, 20, 0.05)
