@import "nib"
@import "../components/css/vars"

/* reset */
global-reset()

/* extensions */
@import "../components/css/partial/normalize"

/* style */
@import "../components/css/partial/base"
@import "../components/css/partial/header"
@import "../components/css/partial/post-list"
@import "../components/css/partial/post"
@import "../components/css/partial/footer"
@import "../components/css/partial/gist-it"
@import "../components/css/partial/home"
