flex-version = flex
support-for-ie = false
vendor-prefixes = webkit moz o official

@import "../components/css/vars"
@import "nib"

/* stylelint-disable */
@import "../components/css/partial/normalize"
/* stylelint-enable */

@import "../components/css/partial/base"
@import "../components/css/partial/header"
@import "../components/css/partial/post-list"
@import "../components/css/partial/post"
@import "../components/css/partial/footer"
@import "../components/css/partial/pagination"
@import "../components/css/partial/code"
@import "../components/css/partial/gist-it"
@import "../components/css/partial/home"
