@import "nib"
@import "vars"

/* reset */
global-reset()

/* normalize */
@import "partial/normalize"

/* style */
@import "partial/base"
@import "partial/header"
@import "partial/post-list"
@import "partial/post"
@import "partial/footer"
@import "partial/home"
