// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-background = #fff
color-text = #34495e
color-link = #2c3e50
color-code = #e96900

// Header
color-header-divider = #d5d5d5
color-header-link = #42b983

// Post
color-post-link = color-link
color-post-list-divider = #ddd
color-post-list-read-more = color-link
color-post-date = #7f8c8d
color-post-code-type = #ccc
color-post-code-background = #f8f8f8
color-post-code-marked-line = lighten(#42b983, 75%)
color-post-quote-highlight = #42b983
color-post-highlight-background = #f8f8f8
color-table-header = #ddd
color-table-background-alt = #f4f4f4

// Footer
color-footer-text = #838689
color-pagination-text = #fff
color-pagination-background = #4fc08d
color-pagination-hover = #22bd77
color-pagination-border = #3aa373

color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

// Fonts
font-sans = 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 15px
line-height = 1.6
line-height-header = 1.4
line-height-code = 1.3

// Layout
layout-margins = 10px
layout-max-width = 700px

// Media queries
mq-tablet = "screen and (min-width: 700px)"
mq-desktop = "screen and (min-width: 992px)"
