$codebase
  color color-post-code-type
  font-size 1em
  font-weight 600
  height 20px
  padding 5px
  position absolute
  right 0
  text-align right
  top -4px

signs = "html", "js", "bash", "css", "scss", "diff", "java", "xml", "python", "json", "swift", "ruby", "perl", "php", "c", "java", "cpp", "ts"

pre
  line-height line-height-code
  margin 0
  padding 1.2em 1.4em

.highlight
  background-color color-post-highlight-background
  border-radius 2px
  margin 1em 0
  overflow-x auto
  position relative

  table, tr, td
    border-collapse collapse
    margin 0
    padding 0
    width 100%

  .gutter
    display none

  .line.marked
    background-color color-post-code-marked-line

  code-signs(keys)
    for key in keys
      &.{key} .code::after
        content key
        @extend $codebase
  code-signs(signs)

  &.cpp .code::after
    content 'c++'

code, pre
  background-color color-post-code-background
  color #525252
  font-family font-mono
  font-size font-code-size

  .function .keyword,
  .constant
    color #0092db

  .keyword,
  .attribute
    color #e96900

  .number,
  .literal
    color #ae81ff

  .tag,
  .tag .title,
  .change,
  .winutils,
  .flow,
  .lisp .title,
  .clojure .built_in,
  .nginx .title,
  .tex .special
    color #2973b7

  .symbol,
  .symbol .string,
  .value,
  .regexp
    color #42b983

  .title
    color #83B917

  .tag .value,
  .string,
  .subst,
  .haskell .type,
  .preprocessor,
  .ruby .class .parent,
  .built_in,
  .sql .aggregate,
  .django .template_tag,
  .django .variable,
  .smalltalk .class,
  .javadoc,
  .django .filter .argument,
  .smalltalk .localvars,
  .smalltalk .array,
  .attr_selector,
  .pseudo,
  .addition,
  .stream,
  .envvar,
  .apache .tag,
  .apache .cbracket,
  .tex .command,
  .prompt
    color #42b983

  .comment,
  .java .annotation,
  .python .decorator,
  .template_comment,
  .pi,
  .doctype,
  .shebang,
  .apache .sqbracket,
  .tex .formula
    color #b3b3b3

  .deletion
    color #BA4545

  .coffeescript .javascript,
  .javascript .xml,
  .tex .formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .cdata
    opacity 0.5
