doctype
html
  head
    include head
  body(class=type_of(locals))
    .wrap
      header
        block header
      section.container
        block content
        block pagination
        block comments
      footer
        block footer
    block scripts
      include scripts
