buffer
  background no-repeat center center fixed
  background-size cover
  cursor pointer
  height 100%
  width 100%
  position fixed
  &.back
    transform translateZ(0)
    background-color black
  &.front
    transform translateZ(1)
    opacity 0
