bg-duration = 120s
bg-ratio-factor = 4
transition-timing = ease-in-out

*
  color #222
  font-family segoe ui, helvetica neue, helvetica, arial, sans-serif
  line-height 1.3em

body, html
  font-size 1em
  height 100%
  overflow hidden
  @media only screen and (min-width: 384px)
    font-size (@font-size * 1.12)

a, imghover
  font-weight 700

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

love
  color #c62a28

.bg
  background no-repeat center center fixed
  background-size cover
  //animation animatedBackground (bg-duration*bg-ratio-factor) ease-out forwards
  //@media only screen and (min-aspect-ratio: 1 / 1)
  //  animation animatedBackground bg-duration ease-out forwards
  height 100%
  width 100%
  position fixed
  &.back
    transform translateZ(0)
    background-image url("/img/clouds.thumb.jpg")
  &.front
    transform translateZ(1)
    transition opacity 2s transition-timing
    opacity 0
    &.fadein
      opacity 1

.container
  overflow scroll
  position relative
  transform translateZ(2)
  height 100%
  max-width 23em
  margin 0 auto
  padding 1em
  &:before
    content ""
    height 100%
    display inline-block
    vertical-align middle
    margin-bottom -2em
  div
    vertical-align middle
    display inline-block
  .content
    text-shadow -.5px 1.3px 1px #2b2b2b
    transition text-shadow 2s transition-timing
    padding 1em 1.8em
    background rgba(10, 0, 0, 0.1)
