@import "./settings"

@font-face {
  font-family: "Fanwood";
  src: url("webfonts/fanwood-webfont.eot");
  src: url("webfonts/fanwood-webfont.eot?#iefix") format("embedded-opentype"),
    url("webfonts/fanwood-webfont.woff") format("woff"),
    url("webfonts/fanwood-webfont.ttf") format("truetype"),
    url("webfonts/fanwood-webfont.svg#webfont") format("svg");
}

*
  font-family Fanwood, sans-serif
  line-height 1.3em

body, html
  font-size 1em
  height 100%
  overflow hidden
  @media only screen and (min-width: 690px)
    font-size (@font-size * 1.12)
  @media only screen and (min-width: 1236px)
    font-size (@font-size * 1.35)

a, imghover
  font-style italic
  text-decoration underline

love
  color #c62a28 !important

.container
  overflow scroll
  position relative
  transform translateZ(2)
  height 100%
  max-width 26em
  margin 0 auto
  padding 1em
  &:before
    content ""
    height 100%
    display inline-block
    vertical-align middle
    margin-bottom -2em
  *
    color #222
    transition background-color transition-duration transition-timing, color transition-duration transition-timing, text-shadow transition-duration transition-timing
  div
    vertical-align middle
    display inline-block
  .content
    padding 1em 1.8em

buffer.noJS
  background-image url("/img/clouds.thumb.jpg")
@require "./buffer"
@require "./themes"
