bg-duration = 120s
bg-ratio-factor = 4
transition-timing = ease-in-out
transition-duration = 2s

@font-face {
  font-family: "Fanwood";
  src: url("webfonts/fanwood-webfont.eot");
  src: url("webfonts/fanwood-webfont.eot?#iefix") format("embedded-opentype"),
          url("webfonts/fanwood-webfont.woff") format("woff"),
          url("webfonts/fanwood-webfont.ttf") format("truetype"),
          url("webfonts/fanwood-webfont.svg#webfont") format("svg");
}

*
  font-family Fanwood, sans-serif
  line-height 1.3em

body, html
  font-size 1em
  height 100%
  overflow hidden
  @media only screen and (min-width: 690px)
    font-size (@font-size * 1.12)
  @media only screen and (min-width: 1236px)
    font-size (@font-size * 1.35)

a, imghover
  font-style italic
  text-decoration underline

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

love
  color #c62a28 !important

.bg
  background no-repeat center center fixed
  background-size cover
  //animation animatedBackground (bg-duration*bg-ratio-factor) ease-out forwards
  //@media only screen and (min-aspect-ratio: 1 / 1)
  //  animation animatedBackground bg-duration ease-out forwards
  height 100%
  width 100%
  position fixed
  &.back
    transform translateZ(0)
    background-color black
    &.noJS
      background-image url("/img/clouds.thumb.jpg")
  &.front
    transform translateZ(1)
    transition opacity 0
    opacity 0
    &.fadein
      opacity 1
      transition opacity transition-duration transition-timing

.container
  overflow scroll
  position relative
  transform translateZ(2)
  height 100%
  max-width 26em
  margin 0 auto
  padding 1em
  &:before
    content ""
    height 100%
    display inline-block
    vertical-align middle
    margin-bottom -2em
  div
    vertical-align middle
    display inline-block
  .content
    transition background-color transition-duration transition-timing, text-shadow transition-duration transition-timing
    padding 1em 1.8em

.container *
  color #222
  transition color transition-duration transition-timing
