@import "nib"

bg-duration = 60s
bg-ratio-factor = 4

*
  color: #333
  font-family: segoe ui, helvetica neue, helvetica, arial, sans-serif
  font-weight: 400
  -webkit-font-smoothing: antialiased
  line-height: 1

body, html
  height: 100%
  font-size: 1.25em

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

background()
  background: url("/img/clouds_l_wider.jpg") no-repeat center center fixed
  background-size cover
  animation: animatedBackground (bg-duration*bg-ratio-factor) ease-out forwards
  @media only screen and (min-aspect-ratio: 1/1)
    animation: animatedBackground bg-duration ease-out forwards

body
  transform: translateZ(0)
  background()

.container
  transform: translateZ(1)
  height: 100%
  width: 23em
  margin: 0 auto
  text-align: center
  &:before
    content: ""
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-left: -2em
  div
    vertical-align: middle
    display: inline-block
    margin-left: 2em
    p
      margin: 0
      padding-bottom: 16px
      display: block
      text-align: left
      line-height: 1.2
      font-size: 95%

a, imghover
  color black
  font-weight 700
