.sunrise
  *
    text-shadow 1px 1px 1px #97854c
    color white
  &.content
    background-color rgba(20, 20, 20, 0.4)

.streaky
  *
    text-shadow 0 1px 0 #B34035
    color #E6E6E6
  &.content
    background-color rgba(20, 20, 20, 0.4)

.clouds
  *
    text-shadow: -1px -1px 1px #A69779, 1px 1px 2px #4A7FA8

.dog
  *
    text-shadow -1px -.5px 1px #20160F
    color #E6E6E6
  &.content
    background-color rgba(50, 50, 50, 0.2)

.hospital
  *
    text-shadow 0 1px 1px #D9CEB1, 0 -1px 2px #8A8371
  &.content
    background-color rgba(170, 170, 170, 0.3)

.dusk
  *
    text-shadow 0 1px 1px #FFD166, .8px -1.5px 1px #1F132B
    color #E6E6E6
  &.content
    background-color rgba(20, 20, 20, 0.4)
