extends partial/layout

block header
  include partial/header

block content
  include mixins/post
  +postList()

block pagination
  include mixins/paginator
  +archive()

block footer
  include partial/footer
