extends partial/layout

block header
  include partial/header

block content
  if config.title
    h1.title= config.title
  if page.description
    .description= page.description
  if page.content
    .content!= page.content

block footer
  include mixins/footer
  +footer()
