extends partial/layout

block header
  include partial/header

block content
  include mixins/post
  +post()

block pagination
  include mixins/paginator
  +post()

block footer
  include mixins/footer
  +post-footer()
