flex-version = flex
support-for-ie = false
vendor-prefixes = webkit moz o official

@import "./css/partials/vars"
@import "nib"

/* stylelint-disable */
@import "./css/partials/normalize"
/* stylelint-enable */

@import "./css/partials/base"

@import "./css/partials/author-info"
@import "./css/partials/code"
@import "./css/partials/footer"
@import "./css/partials/gist-it"
@import "./css/partials/header"
@import "./css/partials/home"
@import "./css/partials/pagination"
@import "./css/partials/post"
@import "./css/partials/post-status"
@import "./css/partials/post-list"
