doctype
html
  head
    include head
  body.page.class
    .wrap
      header
        block header
      section.container
        block content
        block pagination
      footer
        block footer
    include scripts
