html, body
  width 100%
  height 100%

body
  margin 0
  color color-text
  font-size font-size
  line-height line-height
  background-color color-background
  font-family font-sans

ul
  &.nav,
  &.post-list
    margin 0
    padding 0
    list-style-type none

a, a:active
  color color-link

p
  margin 10px 0

hr
  border 0

code
  margin 0 2px
  padding 3px 5px
  color color-code
  border-radius 2px
  white-space inherit

iframe, video
  max-width 100%
  margin 1rem auto
  display block

table
  width 100%
  margin 1em auto
  thead
    background-color color-table-header
    th
      padding 5px
      min-width 20px

  tbody
    tr:nth-child(2n)
      background-color color-table-background-alt

    td
      padding 5px
      vertical-align text-top

section.container
  margin 0 layout-margins

hr
  width 80%
  max-width 300px
  margin 0 auto 10px
  height 1px
  border 0
  background-image linear-gradient(left, transparent, color-header-divider, transparent)

.wrap
  @media mq-tablet
    width layout-max-width
    margin 0 auto

.copyright
  display none
