footer
  margin 0 10px
  padding-bottom 2em
  position relative

  .site-info
    color color-footer-text
    display flex
    flex-direction column
    font-size .9em
    justify-content center
    padding-top 1em
    text-align center

    @media mq-tablet
      flex-direction row

    .copyright
      display none

    div
      padding 0 0.2em
